<h1>Blackjack</h1>
<%= link_to "Start new game", "#", data: { reflex: "click->GameReflex#start" } %>
<hr>
<% if @game.active? %>
  Dealer: <%= @game.dealer_hand.value %>
  <%= render(CardComponent.with_collection(@game.dealer_hand.cards)) %>
  <br>
  Player: <%= @game.player_hand.value %>
  <%= render(CardComponent.with_collection(@game.player_hand.cards)) %>
<% end %>
