<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/dde41c48d8.js" crossorigin="anonymous" data-mutate-approach="sync"></script>
  </head>

  <body class="flex items-center justify-center h-screen">
    <%= yield %>
  </body>
</html>
